## **Tugas Besar 2 Pengenalan Komputasi**
### **Kelompok 6**
- Ester Tri Wahyuningsih (16022101)
- Rayyan Hannata Denan   (16022106)
- Valentinus Brian Johan (16022111)
- Brian Matthew          (16022116)

### **Import modul-modul yang dibutuhkan dari library**

In [13]:
import pandas as pd
from matplotlib import pyplot as plt

### **File 'supermarket_sales - Sheet1.csv' dimasukkan ke variabel bernama df menggunakan library pandas**

In [14]:
df = pd.read_csv('supermarket_sales - Sheet1.csv')

### **Menampilkan dataframe**

In [15]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

### **Kolom 1 'Invoice ID'**

In [22]:
pd.DataFrame(df['Invoice ID'][:10])
# Berikut Invoice ID dari 10 data pertama

    Invoice ID
0  750-67-8428
1  226-31-3081
2  631-41-3108
3  123-19-1176
4  373-73-7910
5  699-14-3026
6  355-53-5943
7  315-22-5665
8  665-32-9167
9  692-92-5582

### **Khusus untuk data ini, Invoice ID tidak memuat suatu pola tertentu (contoh; 3 angka pertama berisi kode cabang dan lokasi, 2 angka ditengah berisi kode barang yang dibeli)**

In [37]:
id = df['Invoice ID'].str.contains('-17-', case=False, na = False )
df[id]
# Berikut data Invoice ID yang memuat nomor '17' sebagai 2 angka tengah

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
27,189-17-4241,A,Yangon,Normal,Female,Fashion accessories,87.67,2,8.7670,184.1070,3/10/2019,12:17,Credit card,175.34,4.761905,8.7670,7.7
141,280-17-4359,C,Naypyitaw,Member,Male,Health and beauty,90.50,10,45.2500,950.2500,1/25/2019,13:48,Cash,905.00,4.761905,45.2500,8.1
153,214-17-6927,C,Naypyitaw,Normal,Female,Food and beverages,16.48,6,4.9440,103.8240,2/7/2019,18:23,Ewallet,98.88,4.761905,4.9440,9.9
162,101-17-6199,A,Yangon,Normal,Male,Food and beverages,45.79,7,16.0265,336.5565,3/13/2019,19:44,Credit card,320.53,4.761905,16.0265,7.0
252,883-17-4236,C,Naypyitaw,Normal,Female,Sports and travel,14.39,2,1.4390,30.2190,3/2/2019,19:44,Credit card,28.78,4.761905,1.4390,7.2
284,565-17-3836,A,Yangon,Member,Female,Health and beauty,47.67,4,9.5340,200.2140,3/12/2019,14:21,Cash,190.68,4.761905,9.5340,9.1
307,803-17-8013,A,Yangon,Member,Female,Home and lifestyle,88.79,8,35.5160,745.8360,2/17/2019,17:09,Cash,710.32,4.761905,35.5160,4.1
339,374-17-3652,B,Mandalay,Member,Female,Food and beverages,42.82,9,19.2690,404.6490,2/5/2019,15:26,Credit card,385.38,4.761905,19.2690,8.9
394,885-17-6250,A,Yangon,Normal,Female,Health and beauty,79.74,1,3.9870,83.7270,3/6/2019,10:36,Ewallet,79.74,4.761905,3.9870,7.3
442,138-17-5109,A,Yangon,Member,Female,Home and lifestyle,89.21,9,40.1445,843.0345,1/15/2019,15:42,Credit card,802.89,4.761905,40.1445,6.5
452,727-17-0390,A,Yangon,Normal,Female,Food and beverages,63.61,5,15.9025,333.9525,3/16/2019,12:43,Ewallet,318.05,4.761905,15.9025,4.8
507,862-17-9201,B,Mandalay,Normal,Female,Food and beverages,84.05,6,25.2150,529.5150,1/29/2019,10:48,Credit card,504.30,4.761905,25.2150,7.7
588,379-17-6588,C,Naypyitaw,Normal,Male,Fashion accessories,59.61,10,29.8050,625.9050,3/14/2019,11:07,Cash,596.10,4.761905,29.8050,5.3
665,518-17-2983,A,Yangon,Normal,Female,Fashion accessories,48.63,4,9.7260,204.2460,2/4/2019,15:44,Ewallet,194.52,4.761905,9.7260,7.6
717,482-17-1179,A,Yangon,Member,Male,Electronic accessories,11.94,3,1.7910,37.6110,1/19/2019,12:47,Credit card,35.82,4.761905,1.7910,8.1
745,390-17-5806,C,Naypyitaw,Member,Female,Food and beverages,38.42,1,1.9210,40.3410,2/2/2019,16:33,Cash,38.42,4.761905,1.9210,8.6
758,250-17-5703,A,Yangon,Member,Male,Food and beverages,18.85,10,9.4250,197.9250,2/27/2019,18:24,Ewallet,188.50,4.761905,9.4250,5.6
829,416-17-9926,A,Yangon,Member,Female,Electronic accessories,74.22,10,37.1100,779.3100,1/1/2019,14:42,Credit card,742.20,4.761905,37.1100,4.3
831,636-17-0325,B,Mandalay,Normal,Male,Health and beauty,62.57,4,12.5140,262.7940,2/25/2019,18:37,Cash,250.28,4.761905,12.5140,9.5

### **Bisa dilihat untuk 2 angka tengah yang sama yaitu '17' tidak ada kesamaan informasi apapun untuk setiap kolom lainnya**